body {
    background-color: rgb(243, 243, 243);
    padding-top: 15px;
}

.card {
    width: 21rem;
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 25px;
}

#listCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}